
/* Apply globally */
body {
    font-family: "Inter Fallback", sans-serif;
}

/* @theme{
    --color-primary: #00BBFF;
    --color-secondary: #020817;
    --color-footer-light: #FBFCFE;
    --color-bg-light: #FFFFFF;
} */

